/* @override 
	http://iviewsource.com/exercises/json/mystyle.css */
	
body {
	/* background: EEE7D5; */
	/* background: #dce6f8; */
	background:#05549e;
	font-family: 'Libre Baskerville';
}

#desc {
	background: #dce6f8;
	padding: 5px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#desc div {
	text-align: center;
}

#coursebox {
	/* width: 300px; */
	width: 70%;
	height: 468px;
	margin: 0 auto;
	/* margin: 0 auto auto auto; */
	/* background: #93A1A1; */
	background: #dce6f8;
	/* background: rgb(238, 239, 240); */
	/* background: rgb(238, 239, 240); */
	/* background: white; */
	padding: 1px 20px;
	border-radius: 10px;
	overflow: hidden;
}

#coursebox h3, #coursebox h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
} 

#coursebox h3 {
	font-size: 2em;
	line-height: .8em;
	font-family: 'Wendy One';
	color: #115F79;
}

#coursebox h4 {
	/* color: #973C26; */
	color: #501313ce;
	/* color: #BF5841; */
	font-weight: bold;
	/* line-height: 1.2em; */
}

#coursebox h5 {
	color: #05549e;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

}

#coursebox h6 {
	color: #05549e;
	margin-bottom: 2px;
	/* float: right; */
	/* display: inline-block; */
}

#coursebox img {
	float: right;
	margin-left: 10px;
	border-radius: 10px;
	width: 40%;
}

#coursebox p {
	color: #1E3A40;
	font-size: .8em;
	/* margin-top: 0.5rem; */
}

#coursebox:hover {
	/* background: white; */
	background: rgb(238, 239, 240);
}
#coursebox:hover h4 {
	/* color: #5f2c21; */
	/* color: #8d3622; */
	/* color: #501313ce; */
	color: #BF5841;

}

#coursebox #next_btn, #coursebox #prev_btn {
	/* background: #d33682; */
	background: #5ea9f0;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 10px 0;
	margin-bottom: 0px;
	display: inline-block;
}

#coursebox a#next_btn, #coursebox a#prev_btn {
	text-decoration: none;
	color: #FFF;
}


